.text-field {
    width: 80%;
  }
  
  .grid {
    margin: auto;
    width: 80%;
    display: grid;
    grid-row-gap: 0;
    grid-template-columns: auto auto;
  }

  h1 {
      margin-bottom: 20px;
  }

  .backgr {
    box-shadow: 4px 6px 15px -2px rgba(0, 0, 0, 0.48);
  }
