<h1>Kontakt</h1>
<div class="backgr">
    <form (ngSubmit)="createContact()" #itemForm="ngForm">
        {{diagnostic}}
        <div class="form-group">
            <br />
            <div class="grid">
                <mat-form-field class="text-field" color="primary">
                    <input matInput type="text" id="name" [(ngModel)]="contact.name" name="name" #name="ngModel" placeholder="Imię:" required>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field class="text-field" color="primary">
                    <input matInput type="text" id="surname" [(ngModel)]="contact.surname" name="surname" placeholder="Nazwisko:" required>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
            </div>
            <mat-form-field class="text-field" color="primary">
                <input matInput type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" [(ngModel)]="contact.creatorMail"
                    name="email" placeholder="E-mail:" required>
                <mat-icon matSuffix>contact_mail</mat-icon>
                <mat-error>Nieprawidłowy format</mat-error>
            </mat-form-field>
            <mat-form-field class="text-field" color="primary">
                <input matInput type="text" id="topic" [(ngModel)]="contact.topic" name="topic" placeholder="Temat:" required>
            </mat-form-field>
            <mat-form-field class="text-field" color="primary">
                <textarea matInput type="text" rows="7" id="message" [(ngModel)]="contact.message" name="weight" placeholder="Wiadomość:"
                    required></textarea>
                <mat-icon matSuffix>assignment</mat-icon>
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="accent-color button" [disabled]="!itemForm.form.valid">Wyślij</button>
        <button routerLink="/start" routerLinkActive="active" mat-raised-button class="accent-color button">Anuluj</button>
        <br />
        <br />
    </form>
</div>