<h1>Kontakt</h1>
<div class="backgr">
  <form name="form" novalidate>
    <div class="form-group">
      <br />
      <mat-form-field class="text-field" color="primary">
        <textarea matInput placeholder="Temat:"></textarea>
      </mat-form-field>
      <mat-form-field class="text-field" color="primary">
        <textarea class="message" matInput placeholder="Wiadomość:"></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button class="accent-color button">Wyślij</button>
    <button routerLink="/start" routerLinkActive="active" mat-raised-button class="accent-color button">Anuluj</button>
    <br /><br />
  </form>
</div>