<h1>Formularz</h1>

<div class="main backgr">
  <form [formGroup]="eventForm" (ngSubmit)="createEvent()" validate>
    <div class="form-panel active" id="first">
      <mat-toolbar class="toolbar">
        <mat-icon matSuffix style="margin-right: 20px;">extension</mat-icon>Rodzaj wydarzenia</mat-toolbar>
      <div class="form-group">
        <div class="col-sm-4" *ngFor="let ev of content?.formDto.events">
          <span class="tile title"><mat-checkbox value="ev.name" (click)="select(ev)"></mat-checkbox> <b>{{ev.translation}}</b></span>
          <p *ngIf="ev.translation == 'Szkolenia z własnymi trenerami'">
            <mat-form-field color="primary">
              <input type="number" min="0" matInput placeholder="Ile sal potrzebujesz?" name="details" formControlName="rooms">
            </mat-form-field>
            <mat-form-field color="primary">
              <input type="number" min="0" matInput placeholder="Na ilu uczestników?" name="details" formControlName="guestsNumber">
            </mat-form-field>
          </p>
          <div class="desc">
            <div class="container">
              <mat-form-field [hideRequiredMarker]="true">
                <input maxlength="40" readonly class="text formDescription" value="{{ev.description}}" matInput (change)="onChange(ev)" id="eventDescription">
                <!-- (ng-blur)="editEventType(ev)" [(ngModel)]="editEventTypes.description" name="description" #description="ngModel" [ngModelOptions]="{standalone: true}" -->
                <mat-hint class="hint1" align="start">Można edytować</mat-hint>
                <mat-hint class="hint2" align="end"> / 40</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="container" style="background-color: white;">
          <mat-form-field [hideRequiredMarker]="true">
            <input maxlength="110" #message8 readonly class="text formDescription" value="{{content?.formDto.participantsDescription}}"
              matInput id="name" [(ngModel)]="form.participantsDescription" name="participantsDescription" #participantsDescription="ngModel"
              [ngModelOptions]="{standalone: true}">
            <mat-hint class="hint1" align="start">Można edytować</mat-hint>
            <mat-hint class="hint2" align="end">{{message8.value.length}} / 110</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-panel">
      <mat-toolbar class="toolbar">
        <mat-icon matSuffix style="margin-right: 20px;">home</mat-icon>Nocleg</mat-toolbar>
      <div class="form-group">
        <mat-form-field class="accommodation" color="primary">
          <input matInput type="number" min="0" max="1000" placeholder="Liczba noclegów" formControlName="nights">
          <mat-error>To pole jest wymagane</mat-error>
        </mat-form-field>
      </div>
      <div class="desc">
        <div class="container">
          <mat-form-field [hideRequiredMarker]="true">
            <input maxlength="110" #message2 readonly class="text formDescription" value="{{content?.formDto.accommodationDescription}}"
              matInput [(ngModel)]="form.accommodationDescription" name="accommodationDescription" #accommodationDescription="ngModel"
              [ngModelOptions]="{standalone: true}">
            <mat-hint class="hint1" align="start">Można edytować</mat-hint>
            <mat-hint class="hint2" align="end">{{message2.value.length}} / 110</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-panel">
      <mat-toolbar class="toolbar">
        <mat-icon matSuffix style="margin-right: 20px;">today</mat-icon>Termin </mat-toolbar>
      <div class="form-group">
        <div class="col-lg-6 backgr"><br /> Data wydarzenia:<br />
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Wybierz datę" formControlName="eventTime" [disabled]="isNotEmptyTermin()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6 backgr"><br /> Orientacyjny termin wydarzenia:<br />
          <mat-form-field>
            <mat-select matInput placeholder="Sezon..." ng-hide="!date" formControlName="seasonId" [disabled]="isNotEmptyDate()">
              <mat-option></mat-option>
              <mat-option *ngFor="let seas of content?.formDto.seasons" [value]="seas.globalId" (click)="addSeason(seas)">{{seas.description}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br /> Zakres tygodnia:<br />
          <mat-form-field>
            <mat-select placeholder="Dni tygodnia.." formControlName="kindOfDays" [disabled]="isNotEmptyDate()" matTooltip="Dni robocze: Pn-Czw | Weekend Pt-Nd">
              <mat-option></mat-option>
              <mat-option value="WORKING_DAY" (click)="addDays('Dni robocze')">Dni robocze</mat-option>
              <mat-option value="WEEKEND" (click)="addDays('Weekend')">Weekend</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        Sezon letni:
        <mat-form-field class="example-full-width">
          <input matInput readonly class="formDescription" value="{{content?.formDto.seasons[0].from}}" style="text-align: center;"
          [(ngModel)]="formEditDate[0].from" name="from" #from="ngModel" [ngModelOptions]="{standalone: true}">
          <mat-hint class="hint1" align="start">Można edytować (RRRR-MM-DD)</mat-hint>
        </mat-form-field>
        -
        <mat-form-field class="example-full-width">
          <input matInput readonly class="formDescription"  value="{{content?.formDto.seasons[0].to}}" style="text-align: center;"
          [(ngModel)]="formEditDate[0].to" name="to" #to="ngModel" [ngModelOptions]="{standalone: true}">
          <mat-hint class="hint1" align="start">Można edytować (RRRR-MM-DD)</mat-hint>
        </mat-form-field><br /> Sezon zimowy:
        <mat-form-field class="example-full-width">
          <input matInput readonly class="formDescription"  value="{{content?.formDto.seasons[0].from}}" style="text-align: center;"
          [(ngModel)]="formEditDate[1].from" name="from" #from="ngModel" [ngModelOptions]="{standalone: true}">
          <mat-hint class="hint1" align="start">Można edytować (RRRR-MM-DD)</mat-hint>
        </mat-form-field>
        -
        <mat-form-field class="example-full-width">
          <input matInput readonly class="formDescription"  value="{{content?.formDto.seasons[0].to}}" style="text-align: center;"
          [(ngModel)]="formEditDate[1].to" name="to" #to="ngModel" [ngModelOptions]="{standalone: true}">
          <mat-hint class="hint1" align="start">Można edytować (RRRR-MM-DD)</mat-hint>
        </mat-form-field><br />
        <div class="desc">
          <div class="container">
            <mat-form-field [hideRequiredMarker]="true">
              <input maxlength="110" #message3 readonly class="text formDescription" value="{{content?.formDto.dateFormDescription}}" matInput
                [(ngModel)]="form.dateFormDescription" name="dateFormDescription" #dateFormDescription="ngModel" [ngModelOptions]="{standalone: true}">
              <mat-hint class="hint1" align="start">Można edytować</mat-hint>
              <mat-hint class="hint2" align="end">{{message3.value.length}} / 110</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="form-panel">
      <mat-toolbar class="toolbar">
        <mat-icon matSuffix style="margin-right: 20px;">supervisor_account</mat-icon>Ilość uczestników</mat-toolbar>
      <div class="form-group">
        <div class="col-lg-4" *ngFor="let peop of content?.formDto.sizes">
          <label>
            <img src="{{peop.imageUrl}}"><br />
            <input type="radio" ng-control="options" formControlName="eventSizeId" [value]="peop.globalId" ngDefaultControl (click)="addBound(peop)"><a> {{peop.bounds}}</a>
            <!-- <input type="file" (change)="[createUrl(peop), fileChange($event)]" placeholder="Upload file"  > -->
            <image-upload 
            [url]="'http://localhost:8080/wolimierz/media/image?parent=event_size&parentId=' + peop.globalId"
            [headers]="{Authorization: 'MyToken'}">
          </image-upload>
          </label>
            
         
        </div>
      </div>
      <div class="container" style="background-color: white;">
        <mat-form-field [hideRequiredMarker]="true">
          <input maxlength="110" #message4 readonly class="text formDescription" value="{{content?.formDto.participantsDescription}}"
            matInput [(ngModel)]="form.participantsDescription" name="participantsDescription" #participantsDescription="ngModel"
            [ngModelOptions]="{standalone: true}">
          <mat-hint class="hint1" align="start">Można edytować</mat-hint>
          <mat-hint class="hint2" align="end">{{message4.value.length}} / 110</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="form-panel">
      <mat-toolbar class="toolbar">
        <mat-icon matSuffix style="margin-right: 20px;">shopping_cart</mat-icon> Wydatki</mat-toolbar>
      <div class="form-group">
        Budżet:<br />
        <mat-slider formControlName="maxCost" min="0" max="10000" #slider color="primary" thumbLabel aria-label="Primary color slider"
          style="width: 30%;" (input)="onInputChange($event)"></mat-slider>
        <br /><br /> Maksymalny budżet organizowanego wydarzenia:
        <mat-form-field color="primary">
          <input class="budget" matInput readonly formControlName="maxCost" [value]="slider.value">
          <span matSuffix>.00 zł</span>
        </mat-form-field>
      </div>
      <div class="desc">
        <div class="container">
          <mat-form-field [hideRequiredMarker]="true">
            <input maxlength="110" #message5 readonly class="text formDescription" value="{{content?.formDto.budgetDescription}}" matInput
              [(ngModel)]="form.budgetDescription" name="budgetDescription" #budgetDescription="ngModel" [ngModelOptions]="{standalone: true}">
            <mat-hint class="hint1" align="start">Można edytować</mat-hint>
            <mat-hint class="hint2" align="end">{{message5.value.length}} / 110</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-panel" id="last">
      <mat-toolbar class="toolbar">Kontakt</mat-toolbar>
      <div class="form-group">
        <div class="col-lg-6">
          Uwagi:<br />
          <mat-form-field color="primary" style="width: 60%;">
            <mat-icon matSuffix>message</mat-icon>
            <textarea matInput placeholder="Twoje uwagi" style="height: 120px;" formControlName="additionalRequirements"></textarea>
          </mat-form-field>
        </div>
        <div formGroupName="organizer">
          <div class="col-lg-6">
            Dane kontaktowe:<br />
            <mat-form-field color="primary" style="padding-top: 10px;">
              <input matInput placeholder="Imię:" formControlName="name" required>
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error>To pole jest wymagane</mat-error>
            </mat-form-field>
            <mat-form-field color="primary" style="padding-top: 10px;">
              <input matInput placeholder="Nazwisko:" formControlName="surname" required>
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error>To pole jest wymagane</mat-error>
            </mat-form-field>
            <mat-form-field color="primary" style="padding-top: 10px;">
              <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput placeholder="E-mail:" formControlName="mail"
                required>
              <mat-icon matSuffix>contact_mail</mat-icon>
              <mat-error>Nieprawidłowy format</mat-error>
            </mat-form-field>
            <mat-form-field color="primary" style="padding-top: 10px;">
              <input matInput placeholder="Telefon:" formControlName="phoneNumber" required>
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error>To pole jest wymagane</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="container" style="background-color: white;">
        <mat-form-field [hideRequiredMarker]="true">
          <input maxlength="110" #message6 readonly class="text formDescription" value="{{content?.formDto.additionalDescription}}"
            matInput [(ngModel)]="form.additionalDescription" name="additionalDescription" #additionalDescription="ngModel"
            [ngModelOptions]="{standalone: true}">
          <mat-hint class="hint1" align="start">Można edytować</mat-hint>
          <mat-hint class="hint2" align="end">{{message6.value.length}} / 110</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="form-panel" id="last2">
      <mat-toolbar class="toolbar">Podsumowanie</mat-toolbar>
      <div class="col-lg-6 backgr">
        Organizator:<br />
        <mat-form-field color="primary"><input matInput readonly placeholder="Imię:"> {{eventForm.value.organizer.name}}</mat-form-field>
        <mat-form-field color="primary"><input matInput readonly placeholder="Nazwisko:"> {{eventForm.value.organizer.surname}}</mat-form-field>
        <mat-form-field color="primary"><input matInput readonly placeholder="Numer telefonu:"> {{eventForm.value.organizer.phoneNumber}}</mat-form-field>
        <mat-form-field color="primary"><input matInput readonly placeholder="Adres e-mail:"> {{eventForm.value.organizer.mail}}</mat-form-field>
        <mat-form-field color="primary" style="width: 50%;">
          <textarea matInput readonly placeholder="Twoje uwagi" style="height: 124px;">{{eventForm.value.additionalRequirements}}</textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-6 backgr">
        Wybrane typy wydarzenia:<br />
        <ul *ngFor="let event of contentEventArray" style="text-align: left;">
          <li>{{event}}</li>
        </ul>
        <mat-form-field color="primary"><input matInput readonly placeholder="Data wydarzenia:"> {{summing.date}}</mat-form-field>
        <mat-form-field color="primary"><input matInput readonly placeholder="Sezon:"> {{summing.season}}</mat-form-field>
        <mat-form-field color="primary"><input matInput readonly placeholder="Zakres tygodnia:"> {{summing.days}}</mat-form-field>
        <mat-form-field color="primary"><input matInput readonly placeholder="Ilość uczestników:"> {{summing.bounds}}</mat-form-field>

      </div>

      <div class="container" style="background-color: #e6ffff;">
        <mat-form-field [hideRequiredMarker]="true" *ngIf=(!eventForm.valid)>
          <input maxlength="110" #message7 readonly class="text formDescription" value="{{content?.formDto.summaryDescription}}" matInput
            [(ngModel)]="form.summaryDescription" name="summaryDescription" #summaryDescription="ngModel" [ngModelOptions]="{standalone: true}">
          <mat-hint class="hint1" align="start">Można edytować</mat-hint>
          <mat-hint class="hint2" align="end">{{message7.value.length}} / 110</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>

  <!-- heroForm value: {{ eventForm.value | json}} -->

</div>

<mat-progress-bar [value]="progressBar"></mat-progress-bar>
<mat-toolbar>
  <button routerLink="/start" routerLinkActive="active" mat-raised-button class="accent-color button" matTooltip="Powrót na stronę główną">Anuluj</button>
  <div class="footer">
    <button mat-raised-button class="accent-color button" (click)="previous()" [hidden]="isFirst()">Poprzedni</button>
    <button mat-raised-button class="accent-color button" (click)="next()" [hidden]="isLast()">Następny</button>
    <button mat-raised-button class="accent-color button" (click)="[next(), addDate()]" [hidden]="isSubmit()">Podsumowanie</button>
    <button mat-raised-button class="accent-color button" [disabled]="!eventForm.valid" (click)="createEvent()" [hidden]="isSave()"
      matTooltip="Nie wypełniono wszystkich niezbędnych pól formularza">Zapisz</button>
  </div>
  <mat-slide-toggle [hidden]="disabledEdit" [(ngModel)]="editForms" (click)="edit()" matTooltip="Umożliwia edycję treści strony">Edytuj</mat-slide-toggle>
</mat-toolbar>