<form [formGroup]="userForm" (ngSubmit)="createUser()" validate>
  <div class="backgr">
    <mat-toolbar class="toolbar">Dodaj użytkownika</mat-toolbar>
    <br />
    <mat-form-field color="primary">
      <input matInput placeholder="Imię" name="name" formControlName="name" required>
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error>To pole jest wymagane</mat-error>
    </mat-form-field><br />
    <mat-form-field color="primary">
      <input matInput placeholder="Nazwisko" name="surname" formControlName="surname" required>
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error>To pole jest wymagane</mat-error>
    </mat-form-field><br />
    <mat-form-field color="primary">
      <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput placeholder="E-mail" name="email" formControlName="email"
        required>
      <mat-icon matSuffix>contact_mail</mat-icon>
      <mat-error>Nieprawidłowy format</mat-error>
    </mat-form-field><br />
    <mat-form-field>
      <input matInput placeholder="Hasło" [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>Wprowadzone hasło jest zbyt krótkie</mat-error>
    </mat-form-field><br />
    <mat-form-field>
      <mat-select matInput placeholder="Rola" formControlName="role">
        <mat-option *ngFor="let r of role" [value]="r">{{r}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<br />
<button routerLink="/start" routerLinkActive="active" mat-raised-button class="accent-color button">Anuluj</button>
<button mat-raised-button class="accent-color button" [disabled]="!userForm.valid" (click)="[createUser(), open()]">Zapisz</button>