.text {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.container>* {
  width: 100%;
}

#hint1,
#hint2 {
  display: none;
}

::-webkit-file-upload-button {
  background: rgba(0, 162, 96, 0.70);
  color: white;
}