<h1 style="margin-bottom: 20px;">Wolimierz Application</h1>
<div class="container">
  <mat-form-field [hideRequiredMarker]="true">
    <input maxlength="90" id="homeDescription" [(ngModel)]="start.description" name="description" #description="ngModel" #message
      readonly class="text" value="{{content?.mainPage.description}}" matInput>
    <mat-hint id="hint1" align="start">Można edytować</mat-hint>
    <mat-hint id="hint2" align="end">{{message.value.length}} / 90</mat-hint>
  </mat-form-field>
  <img src="http://{{content?.mainPage.backgroundImageUrl}}" style="width: 200px; height: 200px; margin: 0 auto;">

  <div [hidden]="disabledEdit" style="width: 500px; margin: 0 auto; background-color: #F5F5F5; padding-bottom: 20px;">
    <image-upload
    [url]="'http://localhost:8080/wolimierz/media/image?parent=home_page'"
    [headers]="myHeaders"
    [buttonCaption]="'Dodaj obrazek'"
    [fileTooLargeMessage]="'Maksymalny rozmiar obrazka to 10MB!'"
    [dropBoxMessage]="'Upuść swoje zdjęcie tutaj'"
    (removed)="onRemoved($event)"
    (uploadFinished)="onUploadFinished($event)"
    (uploadStateChanged)="onUploadStateChanged($event)">
    </image-upload>
    <br />
    <p id="message" style="background-color: aquamarine">Plik został dodany</p>
    <div style="margin: 0 auto;">
      Dodaj wideo:
      <input #selectedFile type="file" ng2FileSelect [uploader]="uploader" style="margin: 0 auto;" name="video" (click)="clearSelectedFile();">
      <tr *ngFor="let item of uploader.queue">
        <br/>
        <button id="addVideo" type="button" mat-raised-button class="accent-color" style="margin-left: 190px;" (click)="itemUpload();">Prześlij</button>
        <button type="button" mat-raised-button class="accent-color" style="margin-left: 10px;" (click)="clearSelectedFile();">Usuń</button>
      </tr>
    </div>
    <br />
    <div class="progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
    <p id="message2" style="background-color: aquamarine">Plik wideo został dodany</p>
  </div>
</div>

<mat-toolbar>
  <div style="flex: 1 1 auto;">
    <button routerLink="/form" routerLinkActive="active" mat-raised-button class="accent-color" matTooltip="Rozpocznij wypełnianie formularza">Start</button>
  </div>
  <mat-slide-toggle [hidden]="disabledEdit" [(ngModel)]="editStatus" (click)="edit()" matTooltip="Umożliwia edycję treści strony">Edytuj</mat-slide-toggle>
</mat-toolbar>

{{newUrl}}

<div class="video" *ngIf="newUrl != undefined">
  <video controls (click)="toggleVideo()" #videoPlayer poster="https://img.cda.pl/obr/oryginalne/850ca7d90566b9ed82c60d9d50771230.jpg">
      <source [src]="newUrl" controls type="video/mp4" />
      Browser not supported
  </video>
</div>