<button mat-raised-button class="accent-color button" (click)="all()">WSZYSTKIE</button>
<button mat-raised-button class="accent-color button" (click)="dontRead()">NIEPRZECZYTANE</button>
<button mat-raised-button class="accent-color button" (click)="third()">TRZECIE</button>

<div id="all" class="form-panel">


        <table class="table table-bordered">
                <thead>
                        <tr>
                                <th class="up">Imię</th>
                                <th class="up">Nazwisko</th>
                                <th class="up">Data wysłania</th>
                                <th class="up">Szczegóły</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let message of messages">
                                <td class="text-left">{{message.name}}</td>
                                <td class="text-left">{{message.surname}}</td>
                                <td><button type="button" class="btn btn-info"><a [routerLink]="['/detail', message.globalId]" class="col-1-4">Przeczytaj</a></button></td>
                        </tr>
                </tbody>
        </table>


</div>
<div id="dont-read" class="form-panel">
        nieprzeczytane
</div>
<div id="third" class="form-panel">
        third
</div>