<a>
        <div class="header">
                <button mat-raised-button class="accent-color button" (click)="all()">WSZYSTKIE</button>
                <button mat-raised-button class="accent-color button" (click)="dontRead()">NIEPRZECZYTANE</button>
                <label>Numer strony: </label>
                <input class="input" type="number" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfItems]" step="1" placeholder="Strona">
                <button mat-raised-button class="accent-color button" (click)="previousPage()">
                        <</button>
                                <button mat-raised-button class="accent-color button" (click)="nextPage()">></button>
        </div>
</a>
<div id="all" class="form-panel">
        <table class="table table-striped" style="background-color: #DADADA;" [mfData]="messages" #mf="mfDataTable">
                <thead>
                        <tr>
                                <th class="up">Imię</th>
                                <th class="up">Nazwisko</th>
                                <th class="up">Data wysłania</th>
                                <th class="up">Szczegóły</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let message of mf.data | slice:(page-1)*limit:page*limit">
                                <td class="text-center" style="padding-top: 17px;">{{message.name}}</td>
                                <td class="text-center" style="padding-top: 17px;">{{message.surname}}</td>
                                <td class="text-center" style="padding-top: 17px;">{{ message.creationTime | date:'dd/MM/y'}}, godz. {{ message.creationTime | date:'HH:mm:ss'}}
                                </td>
                                <td>
                                        <button mat-raised-button class="accent-color button">
                                                <a style="color:black;" [routerLink]="['/detail', message.globalId]" class="col-1-4">Przeczytaj</a>
                                        </button>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>
<div id="dont-read" class="form-panel">
        <table class="table table-striped" style="background-color: #DADADA;" [mfData]="dontReadMessages" #mf="mfDataTable">
                <thead>
                        <tr>
                                <th class="up">Imię</th>
                                <th class="up">Nazwisko</th>
                                <th class="up">Data wysłania</th>
                                <th class="up">Szczegóły</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let message of mf.data | slice:(page-1)*limit:page*limit">
                                <td class="text-center" style="padding-top: 17px;">{{message.name}}</td>
                                <td class="text-center" style="padding-top: 17px;">{{message.surname}}</td>
                                <td class="text-center" style="padding-top: 17px;">{{ message.creationTime | date:'dd/MM/y'}}, godz. {{ message.creationTime | date:'HH:mm:ss'}}
                                </td>
                                <td>
                                        <button mat-raised-button class="accent-color button">
                                                <a style="color:black;" [routerLink]="['/detail', message.globalId]" class="col-1-4">Przeczytaj</a>
                                        </button>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>